<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title><%= content_for?(:title) ? yield(:title) : "OMAD" %></title>

        <%= stylesheet_link_tag    "application" %>
        <%= javascript_include_tag "vendor/modernizr" %>
        <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
    </head>

    <body>

        <header>
            <nav>
            <% if @current_user %>
                <div class="icon-bar four-up" role="navigation">
                    <%= link_to nil, class: "item fi-comments", "aria-labelledby" => "#itemlabel1" do %>
                        <label id="itemlabel1">Chats</label>
                    <% end %>
                    <%= link_to nil, class: "item fi-results-demographics", "aria-labelledby" => "#itemlabel2" do %>
                        <label id="itemlabel2">Contacts</label>
                    <% end %>
                    <%= link_to nil, class: "item fi-widget", "aria-labelledby" => "#itemlabel3" do %>
                        <label id="itemlabel3">Settings</label>
                    <% end %>
                    <%= link_to logout_path, method: "delete", class: "item fi-power", "aria-labelledby" => "#itemlabel4" do %>
                        <label id="itemlabel4">Logout</label>
                    <% end %>
                </div>
            <% else %>
                <div class="icon-bar two-up" role="navigation">
                    <%= link_to login_path, class: "item fi-torso", "aria-labelledby" => "#itemlabel1" do %>
                        <label id="itemlabel1">Login</label>
                    <% end %>">
                    <%= link_to signup_path, class: "item fi-clipboard-pencil", "aria-labelledby" => "#itemlabel2" do %>
                        <label id="itemlabel2">Sign up</label>
                    <% end %>
                </div>
            <% end %>
            </nav>
        </header>

        <%= yield %>

    </body>
</html>
